---
layout: default
title: magnushhoie
---

<style type="text/css">

.about {
	padding-bottom: 10px;
    padding-right: 20px;
    overflow: hidden;
    font-size: 16px;

}

.about img {
    margin-right: 15px;
    display:inline-block;
    width: 200px;
}

.about p {
    display:inline-block;
  	vertical-align:top;
    width:60%;
    margin: 0;
    padding: 0;
}

.about a:hover {
	color: #666;
}

.publication {
	padding-bottom: 10px;
    padding-right: 20px;
    overflow: hidden;
}

.publication img {
    margin-right: 15px;
    display:inline-block;
    width:80px;
    clear:left;
    display:inline-block;
  	vertical-align:top;
}

.publication p {
    display:inline-block;
    width:79%;
    font-size: 13px;
  	vertical-align:top;
    margin: 0;
    padding: 0;
}


</style>

<h3>About</h3>

<div class="about">
    <img src="https://scholar.google.dk/citations?view_op=medium_photo&user=7fY41FgAAAAJ&citpid=2" />
    <p><b>I am an PhD student in immuno-informatics at the Technical University of Denmark. </b>
	    I am excited about applications of machine learning for design and optimization of antibody therapeutics.
	    Previously, I have contsructed machine-learning algorithms for prediction of epitope binding, protein structure prediction and TCR-p-MHC binding.
	    In my current work at the Oxford Protein Informatics group, we are developing antibody language models for developability and mutational tolerance prediction.
</div>



<a class="link" style="color: white; background: #4daf4a;">maghoi@[university].dk</a>
<a class="link" href="https://scholar.google.com/citations?user=7fY41FgAA&hl=en" style="color: white; background: #e41a1c;">Google Scholar Profile</a>
<!--<a class="link" href="https://github.com/magnushhoie/me/blob/master/magnusresume.pdf" style="color: white; background: #984ea3;">Resume</a>
-->
<a class="link" href="https://github.com/magnushhoie" style="color: white; background: #0E53A7;">GitHub</a>
<a class="link" href="https://www.linkedin.com/in/magnushoie/" style="color: white; background: #999999;">LinkedIn</a>
<a class="link" href="https://twitter.com/magnushoie" style="color: white; background: #4099FF;">Twitter</a>

<hr>

<h3>Publications</h3>
<a id="publications"></a>

  {% for publication in site.posts %}
  	{% if publication.type == "paper" %}  
	
  	<div class="publication">
    		{% if publication.image %}
	  			<img src="{{publication.image}}" />
		{% else %}
			  	<img src="/media/dummywhite.jpg" />
		{% endif %}

   	<p>
	    <b><a style="color:#525252; padding:0px 0px" href={{publication.link}} >{{ publication.title }}</b></a>
	    <br>
		{{ publication.author }}
		<br>
		{{ publication.journal }},  {{ publication.year }}<br>

		{% if publication.pdf %}
	  			<a class="link" href={{publication.pdf}}  style="color: white;background: #4daf4a">PDF</a>
		{% endif %}

		{% if publication.link %}
	  			<a class="link" href={{publication.link}}  style="color: white;background: #984ea3">Abstract</a>
		{% endif %}

		{% if publication.bibtex %}
	  			<a class="link" href="{{publication.bibtex}}" style="color: white; background: #e41a1c;">Bibtex</a>
		{% endif %}

		{% if publication.code %}
	  			<a class="link" href={{publication.code}}  style="color: white;background: #0E53A7">Code</a>
		{% endif %}

		{% if publication.website %}
	  			<a class="link" href={{publication.website}}  style="color: white;background: #d94801">Website</a>
		{% endif %}

    {% if publication.blog %}
          <a class="link" href={{publication.blog}}  style="color: white;background: #d94801">Blog</a>
    {% endif %}


 	</p>
 	</div>​
  {% endif %}
{% endfor %}


<hr>
<a id="supervising"></a>
<h3>Supervising</h3>

At my time at the Technical University of Denmark together with <a href='https://jjalmagro.github.io/'>Jose J.A. Armenteros</a> I have supervised graduate students and independent researchers.
This has continued after I have transitioned to my PhD at Stanford.
If you are interested in joining our lab please write me an email with you resume and detail your background in machine learning.
Below are listed titles of the M.Sc. Thesis' and independent research projects I have co-supervised.

<br>
<br>
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >Protein subcellular localization</b></a><br>
        <a href=https://www.linkedin.com/in/vineetthumuluri/>Vineet Thumuluri</a>
        <br>
        2022
        <br>
    </p>
</div>​
<hr>
<a id="community"></a>
<h3>Community</h3>

biodatascience101

<br>
<br>

<div class="publication">
    <img src="/media/biodatascience101.png" />
    <p>
      <b><a style="color:#525252; padding:0px 0px" href=https://biodatascience101.github.io/ >biodatascience101</b></a><br>
        Organizing series of biological data-science teaching events for academics and industry professionals
        <br>
        2018-2020
        <br>
        <a class="link" href=https://biodatascience101.github.io/ style="color: white;background: #E0393E">Meetup</a>
    </p>
</div>​
<hr>
<a id="teaching"></a>
<h3>Teaching</h3>

Below you can find a list over courses I have taught in.


<br>
<br>

<div class="publication">
    <img src="/media/DTU.png" />
    <p>
        Teaching assistant, Introduction to bioinformatics - 22111
        <br>
        Spring, 2022
        <br>
    </p>
</div>​
<div class="publication">
    <img src="/media/DTU.png" />
    <p>
        Teaching assistant, Python and UNIX for bioinformaticians - 22110
        <br>
        Fall 2021
    </p>
</div>​

<hr>
