---
layout: default
title: Magnus Haraldson Høie - Immunoinformatics AI Scientist
---

<style type="text/css">

<head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K0N707WJTE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K0N707WJTE');
</script>

<meta name=”keywords” content=”machine learning, deep-learning, immunoinformatics, antibody, biotech, Technical University of Denmark, Oxford”/>
<link rel="icon" href="media/favicon.png">
</head>


.about {
	padding-bottom: 10px;
    padding-right: 20px;
    overflow: hidden;
    font-size: 16px;

}

.about img {
    margin-right: 15px;
    display:inline-block;
    width: 200px;
}

.about p {
    display:inline-block;
  	vertical-align:top;
    width:60%;
    margin: 0;
    padding: 0;
}

.about a:hover {
	color: #666;
}

.publication {
	padding-bottom: 10px;
    padding-right: 20px;
    overflow: hidden;
}

.publication img {
    margin-right: 15px;
    display:inline-block;
    width:80px;
    clear:left;
    display:inline-block;
  	vertical-align:top;
}

.publication p {
    display:inline-block;
    width:79%;
    font-size: 13px;
  	vertical-align:top;
    margin: 0;
    padding: 0;
}


</style>

<h3>About</h3>

<div class="about">
    <img src="/images/profile.jpg" />
    <p>AI scientist with over 5 years of research experience applying machine learning to solve problems in protein design.
	    Experienced in working across interdisciplinary teams and building user-driven scientific solutions.
	    Seasoned software developer proficient in Python and C/C++, with experience in designing, training, and fine-tuning large language models for biology.
</div>



<a class="link" style="color: white; background: #4daf4a;">maghoi@[university].dk</a>
<a class="link" href="https://scholar.google.com/citations?user=7fY41FgAA&hl=en" style="color: white; background: #e41a1c;">Google Scholar Profile</a>
<!--<a class="link" href="https://github.com/magnushhoie/me/blob/master/magnusresume.pdf" style="color: white; background: #984ea3;">Resume</a>
-->
<a class="link" href="https://github.com/magnushhoie" style="color: white; background: #0E53A7;">GitHub</a>
<a class="link" href="https://www.linkedin.com/in/magnushoie/" style="color: white; background: #999999;">LinkedIn</a>
<a class="link" href="https://twitter.com/magnushoie" style="color: white; background: #4099FF;">Twitter</a>

<hr>

<h3>Publications</h3>
<a id="publications"></a>

  {% for publication in site.posts %}
  	{% if publication.type == "paper" %}  
	
  	<div class="publication">
    		{% if publication.image %}
	  			<img src="{{publication.image}}" />
		{% else %}
			  	<img src="/media/dummywhite.jpg" />
		{% endif %}

   	<p>
	    <b><a style="color:#525252; padding:0px 0px" href={{publication.link}} >{{ publication.title }}</b></a>
	    <br>
		{{ publication.author }}
		<br>
		{{ publication.journal }},  {{ publication.year }}<br>

		{% if publication.pdf %}
	  			<a class="link" href={{publication.pdf}}  style="color: white;background: #4daf4a">PDF</a>
		{% endif %}

		{% if publication.link %}
	  			<a class="link" href={{publication.link}}  style="color: white;background: #984ea3">Abstract</a>
		{% endif %}

		{% if publication.bibtex %}
	  			<a class="link" href="{{publication.bibtex}}" style="color: white; background: #e41a1c;">Bibtex</a>
		{% endif %}

		{% if publication.code %}
	  			<a class="link" href={{publication.code}}  style="color: white;background: #0E53A7">Code</a>
		{% endif %}

		{% if publication.website %}
	  			<a class="link" href={{publication.website}}  style="color: white;background: #d94801">Website</a>
		{% endif %}

		{% if publication.webserver %}
	  			<a class="link" href={{publication.webserver}}  style="color: white;background: #d94801">Webserver</a>
		{% endif %}

    {% if publication.blog %}
          <a class="link" href={{publication.blog}}  style="color: white;background: #d94801">Blog</a>
    {% endif %}


 	</p>
 	</div>​
  {% endif %}
{% endfor %}

<hr>
<a id="talks"></a>
<h3>Talks & workshops</h3>

Talks at selected conferences.

<br>

<br>
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >De novo generation of antibody binders with RFantibody</b></a><br>
        <a href=https://www.bio-itworldexpo.com/workshops#6 >Workshop, BioIT Boston 2025</a>.
	Click here for <a href=https://colab.research.google.com/github/mhoie/workshop/blob/main/workshop.ipynb >Jupyter notebook</a>
        <br>
        April 2025
        <br>
    </p>
</div>

<br>
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >AntiFold: Improved antibody structure design using inverse folding </b></a><br>
        <a href=https://neurips.cc/virtual/2023/74696 >Spotlight, NeurIPS GenBio 2023</a>
        <br>
        Dec 2023
        <br>
    </p>
</div>

<br>
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >DiscoTope-3.0: Improved B-cell epitope prediction using AlphaFold2 modeling and inverse folding latent representations </b></a><br>
        <a href=https://eventsignup.ku.dk/elixirdenmark-danishbioinformaticsconference/conference-programme >Selected talk, ELIXIR Annual Danish Bioinformatics Conference 2023</a>
        <br>
        Sep 2023
        <br>
    </p>
</div>

<br>
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >Immunological binding prediction using protein language models & inverse folding </b></a><br>
        <a href=https://sdc.university/education/masters-programme/lei/ >SDC Annual Life Science Engineering and Informatics PhD Symposium 2023</a>
        <br>
        June 2023
        <br>
    </p>
</div>

<hr>
<a id="supervising"></a>
<h3>Supervising</h3>

Below are listed titles of the M.Sc. Thesis' and independent research projects I have co-supervised during my time at the Technical University of Denmark.

<br>

<br>
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >Unsupervised contrastive learning for antibody structure clustering </b></a><br>
	<b>Master Thesis,</b> 30 ECTS<br>
        <a href=https://www.linkedin.com/in/christian-peder-jacobsen-00a226169/ >Christian Peder Jacobsen</a>
        <br>
        Autumn 2023
        <br>
    </p>
</div>


<br>
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >Development of improved prediction methods for B cell epitopes prediction </b></a><br>
	<b>Special project,</b> 5 ECTS<br>
        <a href=https://www.linkedin.com/in/carlos-de-santiago-leon/ >Carlos de Santiago León</a>
        <br>
        Spring 2023
        <br>
    </p>
</div>​


<br>
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >Structure-based prediction of TCR-pMHC interaction using Graph Neural Networks</b></a><br>
	<b>Master Thesis,</b> 30 ECTS<br>
        <a href=https://www.linkedin.com/in/julie-maria-johansen-34082021a/ >Julie Maria Johansen</a>, 
        <a href=https://www.linkedin.com/in/charlotte-w%C3%BCrtzen-9878371b2/ >Charlotte Würtzen</a>
        <br>
        Autumn 2022
        <br>
    </p>
</div>​

<br>
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >BepiPred-3.0: Improved B-cell epitope prediction using protein language models</b></a><br>
	<b>Master Thesis,</b> 30 ECTS<br>
        <a href=https://www.linkedin.com/in/joakim-clifford-672a47231/ >Joakim Clifford</a>
        <br>
        Autumn 2021
        <br>
    </p>
</div>​

<br>
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >Using deep learning for improving TCR homology modeling and its application to immunogenicity prediction</b></a><br>
	<b>Master Thesis,</b> 30 ECTS<br>
        <a href=https://www.linkedin.com/in/idameitil/>Ida Meitil</a>
        <br>
        Spring 2021
        <br>
    </p>
</div>​

<hr>
<a id="community"></a>
<h3>Community</h3>

To build a community in Denmark for sharing experience on working with machine-learning and data-science methods handling biological data,
I organized events together with Paolo Marcatili, Tobias Hegelund Olsen and Andreas Fønss Møller. This led to 4 events with 200+ academic and industry professional participants,
attending from Novo Nordisk, NovoZymes, Lundbeck, DTU and KU.

<br>
<br>

<div class="publication">
    <img src="/media/biodatascience101.jpg" />
    <p>
      <b><a style="color:#525252; padding:0px 0px" href=https://biodatascience101.github.io/ >Biodatascience101</b></a><br>
        Organized 4 events teaching biological data-science to academics and industry professionals
        <br>
        2019-2021
        <br>
        <a class="link" href=https://biodatascience101.github.io/ style="color: white;background: #E0393E">Website</a>
    </p>
</div>​
<br>


<div class="publication">
    <img src="/media/copenhagen_bioinformatics_hackathon.png" />
    <p>
      <b><a style="color:#525252; padding:0px 0px" href=https://biohackathon.biolib.com/event/2021-protein-edition/ >Copenhagen Bioinformatics Hackathon 2021</b></a><br>
       Hosted TCR-p-MHC prediction challenge, with 7 competing teams 
        <br>
        Spring 2021
        <br>
        <a class="link" href=https://biohackathon.biolib.com/event/2021-protein-edition/ style="color: white;background: #E0393E">Website</a>
    </p>
</div>​


<a id="teaching"></a>
<h3>Teaching</h3>

Below you can find a list over courses I have taught in.


<br>
<br>


<div class="publication">
    <img src="/media/DTU.png" />
    <p>
      <b><a style="color:#525252; padding:0px 0px" href=https://magnushhoie.github.io/ >DTU course 22117 Protein structure and computational biology</b></a><br>
        Teaching assistant
        <br>
        Spring 2022
        <br>
    </p>
</div>​
<div class="publication">
    <img src="/media/DTU.png" />
    <p>
      <b><a style="color:#525252; padding:0px 0px" href=https://magnushhoie.github.io/ >DTU course 22111 Introduction to Bioinformatics</b></a><br>
        Teaching assistant
        <br>
        Spring 2022
        <br>
    </p>
</div>​
<div class="publication">
    <img src="/media/DTU.png" />
    <p>
      <b><a style="color:#525252; padding:0px 0px" href=https://magnushhoie.github.io/ >DTU course 22110 Python and Unix for Bioinformaticians</b></a><br>
        Teaching assistant 
        <br>
        Autumn 2021
    </p>
</div>



<hr>
<a id="books"></a>
<h3>Book chapters</h3>

Scientific book chapters in collaboration with others.
<br>

<br>
<div class="publication">
	<a href="https://link.springer.com/protocol/10.1007/978-1-0716-3890-3_17">
    		<img src="/media/springer_pathogens.jpg" alt="Springer Intracellular Pathogens">
	</a>
    <p>
      <b><a style="color:#525252; padding:0px 0px" href=https://link.springer.com/protocol/10.1007/978-1-0716-3890-3_17 >In Silico Tools for Predicting Novel Epitopes</b></a><be>
	      <br> C Barra, JB Nilsson, A Saksager, I Carri, S Deleuran, HMG Alvarez, <u>MH Høie</u>, Y Li, JN Clifford, YTR Wan, LS Moreta, M Nielsen
	      <br> Intracellular Pathogens, August 2024
        <br>
    </p>
</div>​

​

<hr>
<a id="media"></a>
<h3>Media</h3>

Selected articles on my research.
<br>

<br>
<div class="publication">
	<a href="https://issuu.com/dtudk/docs/dynamo-78/42">
    		<img src="/media/dynamo.png" alt="Dynamo">
	</a>
    <p>
      <b><a style="color:#525252; padding:0px 0px" href=https://issuu.com/dtudk/docs/dynamo-78/42 >Dynamo magazine nr. 78</b></a><be>
	"En god dag er, når idéer ikke falder til jorden"
	<br>
        September 2024
        <br>
    </p>
</div>

<br>
<div class="publication">
	<a href="https://www.dtu.dk/uddannelse/phd/karriere/moed-phd-er/min-forskning-kan-foere-til-hurtigere-udvikling-af-nye-vacciner">
    		<img src="/media/DTU.png" alt="DTU">
	</a>
    <p>
      <b><a style="color:#525252; padding:0px 0px" href=https://www.dtu.dk/uddannelse/phd/karriere/moed-phd-er/min-forskning-kan-foere-til-hurtigere-udvikling-af-nye-vacciner >DTU Career as a PhD student</b></a><be>
	"Faster development of new vaccines"
	<br>
        August 2024
        <br>
    </p>
</div>​
​

<hr>
